# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Build outputs
/dist

# Coverage
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env*.local

# Local editor settings
.vscode/

# OS files
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
